<!DOCTYPE html>
<html>
<head>
    <title>Stock Return Prediction</title>
</head>

<body>

<h2>Stock Prediction Dashboard</h2>

<form method="POST">

    <label>Open Price:</label><br>
    <input type="text" name="Open" required><br><br>

    <label>High Price:</label><br>
    <input type="text" name="High" required><br><br>

    <label>Low Price:</label><br>
    <input type="text" name="Low" required><br><br>

    <label>Close Price:</label><br>
    <input type="text" name="Price" required><br><br>

    <label>Volume:</label><br>
    <input type="text" name="Vol." required><br><br>

    <button type="submit">Predict Next Day Return</button>

</form>

{% if message %}
<hr>
<p style="color:red;"><b>{{ message }}</b></p>
{% endif %}

{% if prediction is not none %}
<hr>
<h3>Prediction Output</h3>
<p>Predicted Return = {{ "%f"|format(prediction * 100) }}%</p>
{% endif %}

</body>
</html>